.post-section{
    background: var(--cardColor);
    border-radius: 10px;
    margin: 10px;
    position: sticky;
    overflow: scroll;
    &{
        scrollbar-width: none;
    }

}
.p_d-icon{
    color: pink;
}
.description{
    margin-left: 12px;
    padding: 5px;
}